	<div id="intro"></div>	<!--fix rails bug -->
<div id="main_home">
			<section id="signup">
				<div id="sign_header" class="light_gray_back"><h1>Login to Merjerz</h1></div>
				<div id="sign_inner_wrapper">
							<div id="social_signup">
									<label>Use your existing Linkedin account</label>
												
												<div id="linkedin_box"><%= link_to image_tag("linkedin-Banner.jpg", :border=>0), new_linked_in_connection_path, :class => "round" %>
</div>
											</div>
											
									</div>	
								
				</section>
				<div id="write_padding"></div><!--fix rails bug -->
</div><!--main home -->